:root {
    --primary: #4281b9;
    --secundary: #2e4469;
    --background: #35495e;
    --black-text: rgb(61, 61, 61);
    --white-text: #1a1414;
    --button-hover: #c2b7ae;
}

* {
    font-family: 'Playfair Display';
    box-sizing: border-box;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    text-align: center;
    font-size: 3rem;
    align-items:left;
    
}
header h1{
    padding-left: 8rem;
    padding-top: 0.8rem;
    display: flex;
    white-space: nowrap; /*Evita que el texto se ponga en varias lineas*/
    color: black;
    font-size: 2.5rem;  
}

header .logo{
    position: absolute;
    left: 1rem;
    top: 1.5rem;
}  
nav .lista{
    list-style: none;
    display: flex;
    position: absolute;
    left: 60rem;
    top:0.3rem;
    white-space: nowrap;
    
}
nav .lista li a{
    color: black;
    text-decoration: none;
    padding: 10px;
    transition:0.3s;
    font-size: 1.3rem;
    text-transform: uppercase;
    display: flex;
    font-weight: 600;
}
nav .lista a:hover{
    padding: 2px;
    border-bottom:5px solid #4281b9;
}

nav .lista li {
    list-style: none;
    margin-left: 30px;    
}
nav{
    height:10vh;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.index{
    text-decoration: none;
    
}
.cruz{
    background-image: url(./img/cruz.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fondo{
    background-image: url(./img/wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.drawer {
    display: none;
    cursor: pointer;
}
.cuerpo {
    margin-right: 1rem; /* Espacio entre la imagen y los textboxes */
    margin-top: 9rem;
    width: 80vh;
}
.texto{
    flex: 1; /* La imagen ocupará una parte del espacio disponible */
    display: flex;
    padding-top: 2.7rem;
    flex-direction: column;
    gap: 0.5rem; /* Espacio entre los bloques de texto */
}
main {
    display: flex; /* Usamos flexbox para organizar los elementos lado a lado */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    min-height: 100vh; /* Asegura que el body ocupe al menos toda la altura de la ventana */
    margin: 0; /* Elimina el margen predeterminado del body */
    padding: 0px; /* Añade un poco de espacio alrededor del contenido */
    box-sizing: border-box; /* Incluye el padding y el border en el ancho y alto */
}
.imagen {
    display: block; /* Evita espacios extra debajo de la imagen */
    max-width: 100%; /* Asegura que la imagen no se desborde de su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-style: groove;
    border: 5px solid #040404;
    border-radius: 10px; /*Le damos un poco de curva a la caja para suavizarla*/
}
.diferencia {
    width: 100%;
    padding: 10px;
    border: 5px solid #040404;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 15px;
    margin-bottom: 1.2rem;
}
#diferencia1{
    margin-top: 100px;
}
main img {
    height: 70vh;
}
#ckbox{
    display: none;
}

/*CSS de conocenos.html*/

#bodyc{

    background-image: url(./img/foto-fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    text-align:center;
    font-size: 2rem;  
    
}
.h2{ /*Creo esta clase para separar el texto de arriba, al insertar los menus se pegaba*/
    text-align:center;
    font-size: 2rem;  
    margin-top: 15vh;
}

div{
    text-align: center;
}

#text1{  /*Creo este id para separar los div del header, que se montaban*/
    width: 60vh;
    margin: auto;
    margin-left: 20vh;
    margin-right: 20vh;
    margin-top: 10vh;
}
#text{
    width: 60vh;
    margin: auto;
    margin-left: 20vh;
    margin-right: 20vh;
}

/*CSS de formulario.html*/
#bodyf{
    background-image: url(./img/foto-fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
form{
    text-align: left;
    margin: auto;
    width: 600px;
    height: 750px;
    border: 5px outset rgb(232, 245, 168);
    border-radius: 10px;
    font-size: 16px;
}
label{
    margin-bottom: 10px;   
    display: block; 
}
.boton{
    font-size: 10rem;
    border: 1px solid rgb(232, 245, 168);
    border-radius: 5px;
    font-size: 18px;
    background-color: lightblue;
    cursor: pointer;
    text-align: center;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 150px;
    height: 40px;
}
.boton:hover{
    background: white;
}
legend{
    font-weight: bold;
}
footer {
    background-color: var(--primary);
    color: #040404;
    font-size: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-radius: 20px;
}


/*CSS de localizacion*/
div iframe{
    border-radius: 20px;
}


/***************************************************************************/
@media(max-width: 1020px) {
    .drawer {
        display: block;
        font-size: 2rem;
        color: black;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 1000;
    }

    .lista {
        flex-direction: column;
        position: absolute;
        top: 0rem;
        left: 0;
        right: 10rem;
        background-color: var(--background);
        padding: 1rem;
        z-index: 500;
    }
    #ckbox:checked ~ .lista {
        display: flex;
    }
    nav .lista li {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    header h1 {
        display: none;
    }
}